<div class="pb-32 flex-block align-middle snap-proximity snap-y" id="page">
  <h1 class="text-white text-4xl text-center pt-12 mb-8 font-medium" id="title">Handwritten Digits Recognition</h1>
  <div class="grid grid-cols-1 lg:grid-cols-4 xl:grid-cols-4 px-2/6 pt-8 m-auto">
    <div></div>
    <!-- col1 -->
    <div class="mx-auto lg:ml-auto lg:mr-12 snap-center" style="max-width: 196px;" id="DrawingCanvas">
      <p class="text-center text-gray-light mb-2 tracking-wide font-medium text-sm" id="wavy">
        <span><a class="material-icons text-2lg text-gray-light translate-y-0.5">draw </a></span>
        <span class="w-1"></span>
        <span style="--i:1;"> C</span>
        <span style="--i:2;">l</span>
        <span style="--i:2;">i</span>
        <span style="--i:3;">c</span>
        <span style="--i:3;">k </span>
        <span class="w-1"></span>
        <span style="--i:4;">a</span>
        <span style="--i:4;">n</span>
        <span style="--i:5;">d </span>
        <span class="w-0.5"></span>
        <span style="--i:6;">d</span>
        <span style="--i:6;">r</span>
        <span style="--i:7;">a</span>
        <span style="--i:7;">g </span>
        <span class="w-1"></span>
        <span style="--i:8;">t</span>
        <span style="--i:8;">o </span>
        <span class="w-1"></span>
        <span style="--i:9;">d</span>
        <span style="--i:9;">r</span>
        <span style="--i:10;">a</span>
        <span style="--i:10;">w</span>
        <span style="--i:11;">!</span>
      </p>      <!-- CANVAS -->
      <div>
        <canvas id="canvas" #canvas></canvas>
      </div>
      <!-- BUTTONS -->
      <div class="mt-4 grid grid-cols-2 static h-7 mb-4">
        <!-- PREDICT -->
        <div class="flex"><a href="#chart_div" class="h-7"><button *ngIf="this.digit.length > 0" [@inOutAnimation]
            class="text-white font-semibold rounded-lg bg-orange sm:hover:bg-gray-light active:bg-orange active:translate-y-0.5 w-24 h-7 text-xs font-light drop-shadow-2xl mr-2"
            id="predict" (click)="this.makePrediction()">{{ this.predicting ? "Predicting..." : "Predict"
            }}</button></a><span *ngIf="predicting" class="text-lg material-icons animate-spin text-orange h-7">loop</span>
        </div>
        <!-- CLEAR -->
        <div>
          <button id="clear" *ngIf="this.digit.length > 0" [@inOutAnimation]
            class="text-gray-light sm:hover:text-gray active:text-orange active:translate-y-0.5 font-bold h-6 text-xs font-light drop-shadow-xl ml-auto flex mt-2"
            (click)="this.clear()">Clear <span id="clear-icon"
              class="text-lg material-icons ml-1 -mt-1.5">clear</span></button>
        </div>
      </div>
    </div>

    <!-- col2 -->
    <!-- CHART -->
    <div class="mx-auto lg:mr-auto lg:ml-0 snap-center" id="chart_div">
      <canvas id="MyChart" style = "width: 300px; height: 272px">{{ chart }}</canvas>
    </div>
    <div></div>
  </div>
</div>
